@CHARSET "UTF-8";

@font-face {
  font-family: 'ftf-icons';
  src:  url('/fonts/ftf-icons.eot?vp31fw');
  src:  url('/fonts/ftf-icons.eot?vp31fw#iefix') format('embedded-opentype'),
    url('/fonts/ftf-icons.ttf?vp31fw') format('truetype'),
    url('/fonts/ftf-icons.woff?vp31fw') format('woff'),
    url('/fonts/ftf-icons.svg?vp31fw#ftf-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/******************************************************************************
 *      Non-Responsive: Font, Color, Borders, and Background
 *
 * This section defines the non-responsive elements of the style - the ones that
 * stay constant through all screem media.  Responsive elements are defined in
 * the responsive section below (search for "Responsive Design").
 *
 ******************************************************************************/

/******************************************************************************
 *      Base setup
 *****************************************************************************/
* { margin: 0; padding: 0; }
html, body { 
    margin: 0; padding: 0; 
    height: 100%; width: 100%; 
    min-width: 300px; 
    font-family: "Lucida Grande",Tahoma,Verdana,Arial,sans-serif;  
    font-weight: normal;
    color: #444444; 
}
img { border: none; }

a:link, a:hover, a:visited, a:active { 
    color: #6463AE; 
    font-family: "Lucida Grande",Tahoma,Verdana,Arial,sans-serif; 
    font-weight: normal;
    text-decoration: none; 
}
a:hover { text-decoration: underline; }

h1,h2,h3,h4,h5,h6 {
    font-family: Trebuchet MS,Georgia,sans-serif;
    font-weight: normal;
}


/******************************************************************************
 * Header, Menus, Navigation and Introduction
 ******************************************************************************/
header {
    background-color: #14452C;
    background-image: 
        linear-gradient(
            rgba(0,0,0,0.3),
            rgba(0,0,0,0.05)
        ), 
        url("/img/header-background2.jpg");
    background-position: center 57%;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
}

/* ---------------- Header Navigation ------------------- */
header nav {
    display: block;
    text-align: left;
}
header nav a:link, header nav a:visited, header nav a:hover, header nav a:active {
    font-family: ftf-icons !important;
    color: white;
    text-decoration: none;
    font-weight: 100;
    text-align: left;
}
header nav a.icon-menu {
    display: block;
    float: left;
}
header nav a.icon-search {
    display: block;
    float: right;
}
header nav a.icon-menu:before {
  content: "\e9bd";
}
header nav a.icon-search:before {
  content: "\e986";
}

/* ---------------- Logo and Title --------------------- */
header h1 a:link, header h1 a:visited, h1 header a:hover {
    color: white;
    font-weight: 300;
    text-decoration: none;
}
header h1 #forest {
    font-family: 'Arima Madurai', cursive;
}
header h1 #farm {
    font-family: 'Cabin Sketch', cursive;
}

/* ---------------- Main Sidebar Menu ------------------ */
nav#main-menu {
    display: none;
    position: absolute;
    left: 0; top: 0;
    z-index: 100;
    background-color: rgba(16,47,28,0.9);
    text-align: center;
}
nav#main-menu a.icon-menu {
    font-family: ftf-icons !important;
    display: block;
    font-weight: normal;
    float: right;
}
nav#main-menu a.icon-menu:before {
  content: "\e9bd";
}
nav#main-menu a:link, nav#main-menu a:visited, nav#main-menu a:hover, nav#main-menu a:active {
    text-decoration: none;
    color: white;
}

/* ---------------- Introductory Paragraph ------------- */
#introduction {
    font-style: italic;
    color: #444;
}


/******************************************************************************
 *      Plant List
 *****************************************************************************/
.display-box {
    position: relative;
    display: inline-block;
	list-style: none;  

	background: url('/img/tree.svg') no-repeat center; 
    color: #444444; 

	font-family: Arial,sans-serif; 
    font-weight: normal;
    text-align: center;
}
.display-box .box-link {
	 position: absolute; 
     display: block; 

     border: none; 
     z-index: 0; 
}
.display-box .title-box { 
    font-family: Verdana,Arial,sans-serif;
    font-weight: bold;
	
    color: white; 
    background-color: rgba(16,47,28,0.8); 
    z-index: 2; 
}
.display-box .title-box a {
    font-family: Verdana,Arial,sans-serif; 
    font-weight: bold;
    text-decoration: none; 
    color: #B9BFD6; 
}
.display-box .title-box a:hover { 
    text-decoration: underline; 
    color: #B9BFD6; 
}

/* ----------------TODO REMOVE THIS HACK! -------------- */
/* This is a temporary hack so that I can get a sense of what the page
 * will look like once it has images on it. */
#plant-1.display-box {
    background-image: url("/img/prarie-acacia.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
#plant-2.display-box {
    background-image: url("/img/dwarf-prarie acacia.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

#plant-3.display-box {
    background-image: url("/img/silver-maple.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

/**************************************
 * Plant Detail Page
 **************************************/

.plant-detail h1, .plant-detail h2 {
    text-align: center;
}
.plant-detail .common-names {
    text-align: center;
}
.plant-detail section.image {
	background: url('/img/tree.svg') no-repeat center; 
}
.plant-detail .label {
    font-weight: bold;
}
.plant-detail .descriptor {
    color: #666;
    font-style: italic;
}

/* ---------------- TODO Remove This Hack! ------------- */
#plant-1 section.image {
    background-image: url("/img/prarie-acacia.JPG");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}


/******************************************************************************
 *      Responsive Design -- Sizes and Dimensions
 ******************************************************************************/


@media screen {

    /******************************************************************************
     *      Base setup
     *****************************************************************************/
    html,body {
        font-size: 14px;
    }
    a { 
        font-size: 14px;
    }
    h1 { font-size: 24px; padding: 0.5em 0; }
    h2 { font-size: 22px; padding: 0.5em 0; }
    h3 { font-size: 20px; padding: 0.5em 0; }
    h4 { font-size: 18px; padding: 0.5em 0; }
    h5 { font-size: 16px; padding: 0.5em 0; }
    h6 { font-size: 14px; padding: 0.5em 0; }

    /******************************************************************************
     * Header, Menus, Navigation and Introduction
     ******************************************************************************/
    header {
        height: 275px;
    }

    /* ---------------- Header Navigation ------------------- */
    header nav {
        padding: 15px;
    }
    header nav a:link, header nav a:visited, header nav a:hover, header nav a:active {
        font-size: 25px;
    }

    /* ---------------- Logo and Title --------------------- */
    header h1 a:link, header h1 a:visited, h1 header a:hover {
        font-size: 30px;
        text-shadow: 0 0 20px rgba(0,0,0,0.5);
        padding: 0;
    }
    header h1 #forest {
        font-size: 100px;
        line-height: 0.5em;
    }
    header h1 #farm {
        font-size: 100px;
        line-height: 0.5em;
    }

    /* ---------------- Main Sidebar Menu ------------------ */
    nav#main-menu {
        width: 300px;
        height: 100%;
        box-shadow: 0 5px 10px black;
    }
    nav#main-menu a.icon-menu {
        margin: 10px 20px;
        font-size: 30px;
    }
    section#nav-links {
        margin-top: 100px;
    }
    nav#main-menu a:link, nav#main-menu a:visited, nav#main-menu a:hover, nav#main-menu a:active {
        font-size: 30px;
        line-height: 1.5em;
    }

    /* ---------------- Introductory Paragraph ------------- */
    #introduction {
        width: 700px;
        margin: 2em auto;
    }

    #main {
        min-height: 600px;
    }


    /******************************************************************************
     *      Plant List
     *****************************************************************************/
    #plant-list {
        clear: both;
        margin: 0 auto;
        padding: 10px 0;
        border: none;
    }

    .display-box {
        font-size: 12px;
    }
    .display-box .box-link {
        margin: 0; padding: 0; 
    }
    .display-box .title-box {
        margin: 0; padding: 10px; 
        font-size: 11px;
    }
    .display-box .title-box a {
        font-size: 11px;
    }

    /**************************************
     * Plant Detail Page
     **************************************/
    .plant-detail {
        margin: 1em auto; 
        width: 700px;
        font-size: 14px;
    }
    .plant-detail p {
        padding: 0.25em 0;
    }
    .plant-detail h1, .plant-detail h2 {
        font-size: 1.5em;
        clear: both;
    }
    .plant-detail .common-names {
        margin-bottom: 3em;
    }
    .plant-detail .common-name {
        font-size: 1.2em;
        margin: 1em;
    }
    .plant-detail .descriptor {
        font-size: 10px;
        padding-bottom: 1em;
        text-align: center;
        height: 2em;
    }
    .plant-detail section.lists {
        clear: both;
    }
    .plant-detail section.list {
        margin: 2em;
    }
    .plant-detail section.half-wrapper,
    .plant-detail section.quarter-wrapper {
        clear: both; 
    }
    .plant-detail section.list.quarter{
        width: 165px;
        margin: 2em 0;
        float: left;
        padding: 0 5px;
    }
    .plant-detail section.list.half {
        width: 330px;
        margin: 2em 0;
        float: left;
        padding: 0 5px;
    }
    .plant-detail section.single {
        float: left;
        margin: 1em 0;
        width: 165px;
        padding: 0 5px;
    }
    .plant-detail section.image {
        float: right;
        width: 350px;
        height: 300px;
    }
}

/**
 * Anything over 1280px we'll use one design.  We won't scale bigger than that.
 */
@media screen and (min-width: 1600px) {

    /******************************************************************************
     *      Plant List
     *****************************************************************************/
    #plant-list {
        width: 1600px;
    }

    .display-box {
        margin: 40px 23px; 
        width: 350px; height: 400px; 
    }
    .display-box .box-link {
        width: 300px; height: 300px; 
    }
    .display-box .title-box {
        width: 330px;  
    }

}

/**
 * Anything over 1280px we'll use one design.  We won't scale bigger than that.
 */
@media screen and (min-width: 1280px) and (max-width: 1599px) {

    /******************************************************************************
     *      Plant List
     *****************************************************************************/
    #plant-list {
        width: 1280px;
    }

    .display-box {
        margin: 40px 36px; 
        width: 350px; height: 400px; 
    }
    .display-box .box-link {
        width: 300px; height: 300px; 
    }
    .display-box .title-box {
        width: 330px;  
    }

}

/**
 * Small to medium screens.
 */
@media screen and (min-width: 1024px) and (max-width: 1279px) {

    /******************************************************************************
     *      Plant List
     *****************************************************************************/
    #plant-list {
        width: 1024px;
    }

    .display-box {
        margin: 30px 29px; 
        width: 280px; height: 300px; 
    }
    .display-box .box-link {
        width: 280px; height: 300px; 
    }
    .display-box .title-box {
        width: 260px;  
    }
}



@media screen and (min-width: 700px) and (max-width: 1023px) {

    /******************************************************************************
     *      Plant List
     *****************************************************************************/
    #plant-list {
        width: 700px;
    }

    .display-box {
        margin: 30px 33px; 
        width: 280px; height: 300px; 
    }
    .display-box .box-link {
        width: 280px; height: 300px; 
    }
    .display-box .title-box {
        width: 260px;  
    }
}


@media screen and (max-width: 699px) {
    
    header {
        height: 200px;
    }

    /* ---------------- Header Navigation ------------------- */
    header nav {
        padding: 15px;
    }
    header nav a:link, header nav a:visited, header nav a:hover, header nav a:active {
        font-size: 25px;
    }

    /* ---------------- Logo and Title --------------------- */
    header h1 a:link, header h1 a:visited, h1 header a:hover {
        font-size: 25px;
        text-shadow: 0 0 20px rgba(0,0,0,0.5);
        padding: 0;
    }
    header h1 #forest {
        font-size: 75px;
        line-height: 0.5em;
    }
    header h1 #farm {
        font-size: 75px;
        line-height: 0.5em;
    }

    /******************************************************************************
     *      Plant List
     *****************************************************************************/
    #introduction {
        width: 300px;
    }

    #plant-list {
        width: 300px;
    }

    .display-box {
        margin: 30px 8px; 
        width: 280px; height: 300px; 
    }
    .display-box .box-link {
        width: 280px; height: 300px; 
    }
    .display-box .title-box {
        width: 260px;  
    }

    /**************************************
     * Plant Detail Page
     **************************************/
    .plant-detail {
        margin: 1em auto; 
        width: 300px;
        font-size: 14px;
    }
    .plant-detail .common-names {
        margin-bottom: 2em;
    }
    .plant-detail .common-name {
        font-size: 1.2em;
        margin: 1em;
    }
    .plant-detail section.image {
        float: right;
        width: 300px;
        height: 300px;
    }
    .plant-detail section.single {
        float: left;
        margin: 1em 0;
        width: 140px;
        height: 2em;
        padding: 0 5px;
    }
    .plant-detail section.lists {
        clear: both;
    }
    .plant-detail section.list {
        margin: 2em;
        text-align: center;
    }
    .plant-detail .descriptor {
        font-size: 10px;
        padding-bottom: 1em;
        text-align: center;
        height: 2em;
    }
    .plant-detail section.mobile-half-wrapper {
        clear: both;
    }
    .plant-detail section.list.quarter{
        width: 140px;
        margin: 2em 0;
        float: left;
        padding: 0 5px;
    }
    .plant-detail section.list.half {
        width: 300px;
        margin: 2em 0;
        clear: both;
        padding: 0 5px;
    }
    .plant-detail section.list.full {
        clear: both;
        width: 300px;
        margin: 2em 0;
    }
}

