<!DOCTYPE html>
<html>
<head>
	<title>Forest to Farm</title>
    <%= csrf_meta_tags %>
	<link rel="stylesheet" type="text/css" href="/styles/forest.css" />
    <script src="/scripts/library/require.js" data-main="/scripts/bootstrap"></script>
    <link href="https://fonts.googleapis.com/css?family=Arima+Madurai|Cabin+Sketch" rel="stylesheet">
    <meta name="viewport" content="width=device-width">
</head>
<body>
<header>
	<nav id="header-menu">
		<a href="" class="icon icon-search"></a>
		<a href="" class="icon icon-menu"></a>
	</nav>
    <h1><a href="/"><p id="forest">Forest</p> <p>to</p> <p id="farm">Farm</p></a></h1>
</header>
<nav id="main-menu">
    <a href="" class="icon icon-menu"></a>
    <section id="nav-links">
        <a href="/"><span class="icon icon-home"></span> Home</a><br />
        <a href="/about"><span class="icon icon-about"></span> About</a><br />
    </section>
</nav>
<section id="introduction">
    <p>Forest to Farm is a database of useful plants intended to be a tool for
Permaculture design, restoration agriculture, and agroforestry.  You may browse
through the database of plants or search for specific plants to fit your needs.
It is open source and developed by a community of programmers.  You can
contribute to its development <a href="http://github.com/danielbingham/foresttofarm.org">here</a>.  It is based on data originally compiled by
<a href="http://www.perennialsolutions.org/meet-eric-toensmeier-perennial-solutions-edible-permaculture-books-videos-workshops-organic-gardening.html">Eric Toensmeier</a> for <a href="http://www.edibleforestgardens.com/">Edible Forest Gardens</a>.</P>
</section>
<section id="main">
    <%= yield %>
</section>
</body>
</html>
